@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
   font-family: "Poppins", sans-serif;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: 500;
  color:rgb(57, 49, 167);
  transition: all 0.3s ease;
}

.nav-link:hover {
  background: #f0f4ff;
  color: #2563eb; /* blue hover */
}

.navbar .active {
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #3b82f6, #6366f1);
  box-shadow: 0 2px 6px rgba(59, 130, 246, 0.4);
}


